<div class="footer__text">
	Geen 18, geen alcohol.
</div>

<div class="footer__links-container">
	<a href="" class="footer__link">
		Actievoorwaarden
	</a>

	<a href="" class="footer__link">
		gall.nl
	</a>
</div>
