<div id="site-container">
	<div class="header-container" id="header-container">
		<header class="header">
			<ul>
				<li><a class="header-link" href="http://chaplinjs.org">Chaplin Site</a></li>
			</ul>
		</header>
	</div>

	<div class="outer-page-container">
		<div class="page-container" id="page-container">
			<div class="home-page">
				<h1>Chaplin Boilerplate Application</h1>

				<p>This Chaplin example provides an app scaffold using RequireJS as module loader. Handlebars is used as
					templating engine. The templates are loaded on demand using the RequireJS text plugin.</p>

				<div id="main-container"></div>
			</div>
		</div>
	</div>
</div>
