	<div id="form-opener" class="form__opener"></div>

	<div class="form__opener-container"  id="form-user">

		<form class="form__user">
			<div class="form__input-container">
				<input type="text" name="name" id="form-name" class="form__input" placeholder="Naam"/>
			</div>

			<!-- COLOR SELECT CONTAINER -->
			<div class="form__select-container" id="color-container"></div>

			<!-- IMAGE SELECT CONTAINER -->
			<div class="form__select-container" id="image-container"></div>

			<input type="submit" class="form__submit-btn" value="Verstuur"/>

		</form>

	</div>